@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  margin: 0 35px;  
}

.container img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.container span {
  display: block;
}

.container .follower-count {
  font-size:3em;
  margin: 15px 0 5px 0; 
}