@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-color: #d3c1d2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle#first {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #626868;

  transform-origin: right center;
  transform: rotateZ(90deg);

  animation: first-loading 3s ease-in-out forwards infinite 0.75s;
}

@keyframes first-loading {
  0% {
    transform: rotateZ(90deg);
  }

  25% {
    transform: rotateZ(90deg);
  }

  50% {
    transform: rotateZ(-90deg);
  }

  75% {
    transform: rotateZ(-90deg);
  }

  100% {
    transform: rotateZ(-270deg);
  }
}

.triangle#second {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #626868;

  transform-origin: left center;
  transform: rotateZ(0deg);

  animation: second-loading 3s ease-in-out forwards infinite 1.5s;
}

@keyframes second-loading {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(-180deg);
  }

  75% {
    transform: rotateZ(-180deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}
