@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

:root {
  --color1: #FFFCF2;
  --color2: #CCC5B9;
  --color3: #403D39;
  --color4: #252422;
  --color5: #EB5E28;
  --color6: #9B8816;
  --color7: #5D3A00;
  --color8: #C98BB9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color3);
}

button {
  font-size: 1em;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--color1);
  color: var(--color3);
}

button:hover {
  cursor: pointer;
}

#notif-bar {
  width: 250px;
  height: 50vh;

  margin-bottom: 5px;
  margin-right: 15px;

  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.notif {
  width: max-content;
  margin: 10px 0;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 1.1em; 
  font-weight: bold;
  background-color: var(--color1);
}

.notif.one {
  color: var(--color5);
}

.notif.two {
  color: var(--color6);
}

.notif.three {
  color: var(--color7);
}

.notif.four {
  color: var(--color8);
}