@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
}

h1 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

h1 i {
  color: red;
}

p {
  font-weight: bold;
  margin-bottom: 25px;
}

#photo {
  width: 384px;
  height: 512px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(./Images/wallpaperflare.com_wallpaper.jpg);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#photo .heart {
  color: red;

  transform: scale(0);
  opacity: 0.5;

  animation: heartAnim 1s ease-out;
}

@keyframes heartAnim {
  to {
    transform: scale(12);
    opacity: 0;
  }
}