@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

:root {
  --color1: #F8F9FA;
  --color2: #495057;
  --color3: #212529;
  --color4: #ADB5BD;
  --color5: #E9ECEF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;
}

#card {
  width: 450px;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px var(--color3);
  background-color: var(--color1);
}

#card>#wallpaper {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#card>#content {
  padding: 5px 25px 15px 25px;
  text-align: left;
}

#content>#title {
  margin: 10px 0 5px 0;
  font-size: 1.25em;
  color: var(--color3);
}

#content>#paragraph {
  margin: 10px 0;
  color: var(--color2);
}

#content>#user {
  display: grid;
  grid-template-areas: 
    "dp name"
    "dp date";
  grid-template-rows: 25px 25px;
  grid-template-columns: 50px 200px;
  column-gap: 15px;
  align-items: center;
  
  margin-top: 20px;
}

#user>#dp {
  grid-area: dp;
  border-radius: 50%;
  height: 100%;

}

#user>#name {
  grid-area: name;
  color: var(--color3);
  font-weight: bold;
}

#user>#date {
  grid-area: date;
  color: var(--color4);
}

.loading {
  background: linear-gradient(90deg, var(--color5), var(--color5), var(--color4), var(--color5), var(--color5));
  background-size: 500% 500%;
  animation: loading 1.5s ease infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

#card>.loading {
  background-color: var(--color5);
}

#content>.loading {
  width: 100%;
  height: 10px;
  background-color: var(--color5);
  border-radius: 25px;
}

#user>.loading {
  background-color: var(--color5);
  border-radius: 25px;
  height: 10px;
}