@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: antiquewhite;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar,
#search-button {
  height: 50px;
  border: none;
  background-color: ivory;
  font-size: large;
}

#search-bar:focus,
#search-button:focus {
  outline: none;
}

#search-button {
  width: 50px;
}

#search-bar {
  padding: 15px;
}

.hide-search {
  width: 0;
  transform: scaleX(0);
}

.show-search {
  width: 250px;
  transform: scaleX(250px);
  transition: width 1s;
}
