@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
}

.container {
  width: 50%;
  height: 100vh;

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: width 1s;
}

.container:nth-child(1) {
  background-color: #99664c;
}

.container:nth-child(2) {
  background-color: #16b1c3;
}

.container img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: 0;
  opacity: 0.2;
}

.container .content {
  color: white;
  font-size: x-large;

  position: absolute;
  top: 27%;
  width: inherit;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h1,
.content button {
  margin: 30px;
}

button {
  background-color: transparent;
  color: white;
  font-size: x-large;
  font-weight: 700;

  border: 3px solid white;
  width: 250px;
  height: 100px;

  transition: background-color 0.2s, border-color 0.2s;
}

button:hover {
  cursor: pointer;
}

.container:nth-child(1) .content button:hover {
  background-color: #99664c;
  border-color: #99664c;
}

.container:nth-child(2) .content button:hover {
  background-color: #16b1c3;
  border-color: #16b1c3;
}
