@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-image: url(./Images/minimalist_yotsugi_by_lumoslaurie_d9fr97q.png); */
  background-color: #fccaac;
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 400px;
  width: 400px;

  display: flex;
  flex-direction: column;
  padding: 50px 35px 35px 35px;
}

form p,
form h1 {
  margin: 0 auto;
}

form button {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 40px 0 25px 0;
}

form h1 {
  margin-bottom: 5px;
}

form label {
  display: flex;

  margin-top: 20px;

  transform: translateY(15px);
  transition: transform 0.1s;
}

form label span {
  transition: transform 0.1s;
}

form label span.focused {
  transform: translateY(-15px);
}

form input {
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

form input:focus {
  outline: none;
}

form p a {
  color: #ffd9c2;
  text-decoration: none;
}

form p a:visited {
  color: #ffd9c2;
}

button:hover {
  cursor: pointer;
}
