@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #cdb4db;
}

body>div {
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;

  background-color: white;
}

div>#image {
  margin: 5px 5px 0px 5px;
  height: 550px;
  width: 350px;
  border-radius: 15px 15px 0 0;

  background-size: cover;
  background-position: center;
  background-image: url(./Images/Placeholder.jpg);

  transition: background-image 0.5s;
}

div>#buttons {
  height: 60px;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 75px;
  height: 50px;

  background: none;
  border: none;

  color: gray;
}

button.active {
  color: blueviolet;
}

button:hover {
  cursor: pointer;
}