@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #201E1E;
  overflow-x: hidden;
}

#rotate {
  width: 250px;
  height: 250px;
  border-radius: 500px;
  background-color: #7B0828;

  position: absolute;
  top: -125px;
  left: -125px;
  z-index: 1;
}

#rotate:hover {
  cursor: pointer;
}

main {
  background-color: #FBF5F3;
  transform-origin: top left;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: relative;
}

.rotate-main {
  transform: rotate(-15deg);
  transition: transform 1s;
}

.reset-main {
  transform: rotate(0deg);
  transition: transform 1s;
}

.content {
  margin: 50px 50px;
  color: #201E1E;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content h1, .content h3 {
  margin: 20px 0;
}

.content #images img {
  border-radius: 25px;
  height: 350px;
  margin: 20px 10px;
}

.content p {
  text-align: center;
  line-height: 2rem;
}

nav {
  position: absolute;
  bottom: 50px;
  left: 45px;

  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

nav span {
  margin: 20px 0px;
  font-size: 1.3em;
  font-weight: 500;
}

nav :nth-child(2) {
  margin-left: 20px;
}

nav :nth-child(3) {
  margin-left: 40px;
}

.show-nav {
  color: #FBF5F3;;
  transition: color 0.5s;
  transition-delay: 0.5s;
}

.hide-nav {
  color: transparent;
  transition: color 0.25s;
}