@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f5;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: background-color 0.6s linear;
}

body.dark {
  background-color: #353535;
}

#mode {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin: 80px 0 60px 0;
  background-color: black;

  color: white;
}

#mode.dark {
  background-color: white;
  color: black;
}

#clock-container {
  height: 300px;
  width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.needle {
  width: 2px;
  background-color: black;

  position: absolute;
  bottom: 50%;
  transform-origin: bottom center;

  /* transition: transform 0.25s linear, background-color 0.5s linear; */
}

.needle.dark:not(#second) {
  background-color: white;
}

#hour {
  height: 90px;
  transform: rotate(0deg);
}

#minute {
  height: 125px;
  transform: rotate(0deg);
}

#second {
  height: 125px;
  transform: rotate(0deg);

  z-index: 1;
  background-color: red;
}

#centerpoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: red 2px solid;
  background-color: black;

  position: absolute;
  z-index: 2;

  transition: background-color 0.6s linear;
}

#centerpoint.dark {
  background-color: white;
}

#date-time-container {
  margin: 10px 0;
  text-align: center;
}

#date-time-container > span {
  display: block;
}

#time {
  font-size: 3em;

  transition: color 0.6s linear;
}

#time.dark {
  color: white;
}

#date {
  color: grey;
  margin-top: 15px;
}

#day {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: black;

  color: white;

  display: inline-block;
  transform: scale(0.85);

  transition: background-color 0.6s linear, color 0.6s linear;
}

#day.dark {
  background-color: white;
  color: black;
}
