@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color1: #AA93C8;
  --color2: #9F86C0;
  --color3: #BE95C4;
  --color4: #2D3047;
  --color5: #E0F2E9;
}

body {
  height: 100vh;
  background-color: var(--color1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 750px;
  height: 55px;
  padding: 20px 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--color3);
  box-shadow: 0 0 15px 15px var(--color2);
  color: var(--color5);
  font-size: 1.2em;
}

::placeholder {
  color: var(--color5);
  opacity: 0.5;
}

input:focus {
  outline: none;
}

#card {
  width: 900px;
  padding: 50px 45px;
  padding: 50px 45px 35px 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--color3);
  box-shadow: 0 0 15px 15px var(--color2);
  margin-top: 30px;
  color: var(--color5);

  display: grid;
  grid-template-areas: 
    "img name"
    "img desc"
    "img stats"
    "img tags";
  grid-template-columns: 1fr 3fr;
}

#card img {
  grid-area: img;

  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 10px solid var(--color1);
  border-radius: 50%;
}

#card h1 {
  grid-area: name;

  font-size: 1.8em;
  margin-bottom: 25px;
}

#card p {
  grid-area: desc;

  margin-bottom: 20px;
}

#card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#card #stats {
  grid-area: stats;

  margin-bottom: 20px;
}

#card #stats li {
  margin-right: 60px;
}

#card #tags {
  grid-area: tags;

  font-size: 0.9em;
}

#card #tags li {
  background-color: var(--color1);
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
}