@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); /*font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #7272ab;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
}

#intro {
  width: 500px;
  height: 65px;
  border: 1px solid #272932;
  border-radius: 5px;
  
  background-color: #8c8cba;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

#intro h1 {
  font-size: 1.65em;
}

.event-container {
  margin: 0 25px;
  text-align: center;
}

.event-container p {
  color: #aac0aa;
  margin-bottom: 5px;
}

.event-container h1 {
  width: 150px;
  height: 70px;
  padding: auto 0;
  border: 1px solid #272932;
  border-radius: 5px;
  
  color: #272932;
  background-color: #8c8cba;
  font-size: 1.65em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}